.tablet {
  display: inline-block;
  cursor: pointer;
  padding: 0.6rem;
  text-transform: capitalize;
  font-weight: var(--bold);
  background: var(--bg-filterTablet);
  transition: all 0.5s;
  border-radius: 0.333rem;
  &:hover,
  &:active {
    color: var(--white);
    background: var(--primary);
  }
}
