.tablet {
  cursor: pointer;
  text-transform: capitalize;
  background: var(--grey-200);
  border-radius: var(--br-sm);
  padding: 0.6rem;
  transition: all 0.5s;
  &:hover,
  &:active {
    color: var(--white);
    background: var(--primary);
  }
}
