.marker {
  display: inline-block;
  padding: 0.467rem 0.6rem;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 1rem;
}

.new {
  background: var(--primary);
}

.featured {
  background: var(--grey-900);
}
