@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--f-family);
  color: var(--primary);
  font-size: 15px;
  font-weight: var(--medium);
}

:root {
  //_Font:
  --f-family: 'League Spartan', sans-serif;

  //_Font weight:
  --bold: 700;
  --medium: 500;

  //_Color:
  --primary: hsl(180, 29%, 50%);
  --bg: hsl(180, 52%, 96%); //(Background)
  --bg-filterTablet: hsl(180, 31%, 95%); //(Filter Tablets)

  --white: hsl(0, 0%, 100%);
  --grey: hsl(180, 8%, 52%);
  --light-grey: hsl(0, 0%, 80%);
  --black: hsl(180, 14%, 20%);

  //_Other:
  --shadow: hsl(180 29% 50% / 25%) 0px 25px 50px -12px;
  --radius: 0.333rem;
}

html {
  @media (min-width: 767px) {
    margin-right: calc(-1 * (100vw - 100%));
  }
}

body {
  background: var(--bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 2rem;
  @media (max-width: 767px) {
    padding: 0 1rem;
  }
}

.banner {
  height: 160px;
  width: 100%;
  background: var(--primary) url('../public/images/bg-header-desktop.svg')
    no-repeat center / cover;
  @media (max-width: 767px) {
    background-image: url('../public/images/bg-header-mobile.svg');
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2.667rem;
  @media (max-width: 767px) {
    gap: 2rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.667rem;
  }
}

.panel {
  margin-top: -2.533rem;
  width: 100%;
  min-height: 4.8rem;
}
