.tablet {
  cursor: pointer;
  text-transform: capitalize;
  background: var(--bg-filterTablet);
  border-radius: 0.333rem;
  padding: 0.6rem;
  transition: all 0.5s;
  &:hover,
  &:active {
    color: var(--white);
    background: var(--primary);
  }
}
