.vacancy {
  position: relative;
  max-width: 1110px;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 2.667rem;
  background: var(--white);
  border-radius: var(--br-sm);
  box-shadow: var(--shadow);

  &__info {
    display: flex;
    column-gap: 1.667rem;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }

    @media (max-width: 500px) {
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--grey-500);
    }
  }

  &__logo {
    @media (max-width: 767px) {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
    }

    img {
      @media (max-width: 767px) {
        width: 52px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;

    a {
      font-size: 1.467rem;
      font-weight: var(--fw-bold);
      color: var(--grey-900);
      transition: all 0.5s;
      &:hover,
      &:active {
        color: var(--primary);
      }

      @media (max-width: 767px) {
        font-size: 1.25rem;
      }
    }
    p {
      color: var(--grey-800);
    }
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    h2 {
      font-size: 1.133rem;
      font-weight: var(--fw-bold);
    }
    div {
      display: flex;
      column-gap: 0.533rem;
    }
  }

  &__tablets {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: 500px) {
      justify-content: flex-start;
    }
  }

  @media (max-width: 767px) {
    padding: 2rem 1rem;
    margin-top: 1.733rem;
  }
  @media (max-width: 500px) {
    flex-wrap: wrap;
    gap: 0.8rem;
  }
}

.featured {
  border-left: 5px solid var(--primary);
}
